body {
    background-color: lightblue
}

h4{
    color: black;
    text-align: center;
}

h5{
    margin-top: 2px;
    color: black;
    text-align: center;
}

#tabeljocuri{
        border-spacing: 15px;
        border: 2px solid blue;
        text-align: center;
        font-size: 18px;
        background-color: grey;
        border-collapse: separate;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
}
th{
    border: 5px solid blue;
    background-color: lightgrey;
}
a:link{
    color: black;
    text-decoration: none;
}
a:visited{
    color: red;
    text-decoration: none;
    display: inline-block;
}
p.p2{
    margin-left: -4px;
    border: 2.5px solid black;
    border-collapse: separate;
    display: inline-block;
    background-color: green;
    margin-left: 2px;
    left: 20px;
}
#bara{
    position: fixed;
}
#Dataora{
    float: right;
}
footer{
    background-color: darkgrey;
    text-align: center;
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
#cpy{
    font-size: 15px;
    bottom: 0;
}
#discord{
    opacity: 1;
    background-color: transparent;
}
#btndisc{
    background-color: transparent;
    border: none;
    cursor: pointer;
}