body {
    background-color: lightblue
}

h4{
    color: black;
    text-align: center;
}

h5{
    margin-top: 2px;
    color: black;
    text-align: center;
}

#tabeljocuri{
        border-spacing: 15px;
        border: 2px solid blue;
        text-align: center;
        font-size: 18px;
        background-color: grey;
        border-collapse: separate;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
}
th{
    border: 5px solid blue;
    background-color: lightgrey;
}
a:link{
    color: black;
    text-decoration: none;
}
a:visited{
    color: red;
    text-decoration: none;
    display: inline-block;
}
#Dataora{
    float: right;
}
footer{
    background-color: darkgrey;
    text-align: center;
    display: block;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
#cpy{
    font-size: 15px;
    bottom: 0;
}
#discord{
    opacity: 1;
    background-color: transparent;
}
#btndisc{
    background-color: transparent;
    border: none;
    cursor: pointer;
}

header{
    background-color: #333;
}

.navigationbar {
    width: 100%;
    overflow: hidden;
    color: white;
    background-color: #333;
    font-family: Arial;
}

.navigationbar a{
    float: right;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

.BarOpen{
    float: right;
    overflow: hidden;
}

.BarOpen .Openbtn{
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navigationbar a:hover, .BarOpen:hover, .Openbtn{
    background-color: orangered;
}

.BarContent{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.BarContent a{
    float: left;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: right;
}

.BarContent a:hover{
    background-color: #ddd;
}
.BarOpen:hover .BarContent{
    display: block;
}