html, body {
    height: 100%;
}

#bdy{
    background-repeat: no-repeat;
    background-color: #645C5C;
    background-size: cover;
    overflow-y: hidden;
    overflow-x: hidden;
}

#particles-js{
    background-color: #645C5C;
    border: none;
    width: 100%;
    height: 100%;
    
}

canvas {
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
}
